<% layout('layouts/boilerplate') -%>

<div class="row mt-5">
  <div class="col-12 col-md-8 me-4">
    <a
      href="#"
      class="list-group-item list-group-item-action text-muted border rounded create-post"
    >
      Create Post
    </a>
    <div class="card border mb-5 mt-3">
      <div class="card-body">
        <p class="card-text text-muted">posted by chuchu</p>
        <h4 class="card-title">Headlines...</h4>
        <p class="card-text card-content text-truncate">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim libero
          modi itaque dignissimos delectus necessitatibus recusandae rerum
          ratione voluptas distinctio dolorum nisi eveniet quos, sed nihil,
          suscipit corrupti consequuntur reprehenderit.
        </p>
      </div>
      <div class="list-group d-flex flex-row text-center">
        <a
          href="#"
          class="list-group-item list-group-item-action text-muted border-end"
        >
          Like
        </a>
        <a
          href="#"
          class="list-group-item list-group-item-action text-muted border-start"
          >Comment</a
        >
      </div>
    </div>
  </div>

  <div class="d-none d-md-block col-md-3">
    <div class="card text-center border">
      <img
        src="https://scontent.fmnl5-2.fna.fbcdn.net/v/t1.18169-9/14199638_1786221241618613_5257619007961388895_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeFlkNTp6EKkicdZTpk-9HxWUmqtz3OdstVSaq3Pc52y1ezVkr7Qbfc_ONf0ED9uVtZuy3eEcxbkltw7Jn0MLORw&_nc_ohc=XeYHWmMA66QAX9dCh_h&_nc_oc=AQnNmVuiHnF5G2JfC3fel1vpWrvYBZ6hsyeY75g0UfEG2vLfv9wWkJFtxK-NG1F_cvU&_nc_ht=scontent.fmnl5-2.fna&oh=00_AT_PL2o5ICsU9pCDKcxmfl-E7DzSpnKSBn0aCIe40F_H-g&oe=624D3E52"
        class="card-img-top img-fluid mt-2"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">Hi Paul!</h5>
        <p class="card-text">This is your homepage!</p>
        <a
          href="#"
          class="list-group-item list-group-item-action text-muted border"
        >
          See my Profile
        </a>
      </div>
    </div>
  </div>
</div>
