<% layout('layouts/boilerplate') -%>

<div class="row mt-5">
  <div class="col-md-6 offset-3">
    <form action="/post" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title: </label>
        <input
          type="text"
          name="post[title]"
          placeholder="title"
          class="form-control"
          id="title"
          required
        />
      </div>
      <div class="mb-3">
        <label for="text" class="form-label">Text: </label>
        <textarea
          class="form-control"
          name="post[text]"
          id="text"
          placeholder="text"
        ></textarea>
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
